body { background-color: #eee; }

.todo-wrap { position: relative; max-width: 700px; margin: 0 auto; overflow: auto; background-color: #f6f6f6; overflow: hidden; }

.todo-wrap ::-webkit-scrollbar { width: 4px; }

.todo-wrap ::-webkit-scrollbar-track { background-color: #fff; }

.todo-wrap ::-webkit-scrollbar-thumb { background-color: #1889e8; }

.todo-wrap ::-webkit-scrollbar-thumb:hover { background: #555; }

.todo-wrap .todo-header { background-color: #fff; }

.todo-wrap .todo-header .title { position: relative; padding: 24px 0; font-size: 48px; color: #333; text-align: center; letter-spacing: 2px; font-weight: 700; }

.todo-wrap .todo-header .title::after { display: block; position: absolute; left: 0; bottom: 0; width: 100%; -webkit-box-shadow: 1px 1px 4px 2px #efefef; box-shadow: 1px 1px 4px 2px #efefef; content: ""; }

.todo-wrap .todo-list { height: 800px; overflow: auto; padding: 30px 36px; }

.todo-wrap .todo-list li { position: relative; padding: 36px 100px 36px 30px; border-radius: 14px; background-color: #fff; -webkit-box-shadow: 3px 2px 0px 2px #f0f0f0; box-shadow: 3px 2px 0px 2px #f0f0f0; }

.todo-wrap .todo-list li button { position: absolute; right: 30px; top: 50%; width: 25px; height: 31px; -webkit-transform: translateY(-50%); transform: translateY(-50%); background: url(../btn_delete.png) no-repeat center; }

.todo-wrap .todo-list li + li { margin-top: 20px; }

.todo-wrap .todo-list li span { display: block; width: 100%; margin-bottom: 4px; font-size: 30px; color: #333; font-weight: 700; }

.todo-wrap .todo-list li p { font-size: 22px; color: #666; }

.todo-wrap .todo-add { position: absolute; left: calc(100% - 82px); top: calc(100% - 82px); width: 100%; padding: 40px; background-color: #18bee8; border-radius: 60px 0 0; -webkit-transition: all cubic-bezier(0.445, 0.05, 0.55, 0.95); transition: all cubic-bezier(0.445, 0.05, 0.55, 0.95); }

.todo-wrap .todo-add .text-wrap { opacity: 0; }

.todo-wrap .todo-add strong { font-size: 26px; line-height: 28px; color: #fff; letter-spacing: 1px; font-weight: 700; }

.todo-wrap .todo-add p { margin-top: 6px; font-size: 22px; color: #fff; }

.todo-wrap .todo-add.active { left: 0; top: auto; bottom: 0; }

.todo-wrap .todo-add.active .text-wrap { opacity: 1; }

.todo-wrap .todo-add.active .toggle { position: absolute; right: 30px; top: 44px; left: auto; -webkit-transform: translate(0); transform: translate(0); -webkit-transition: all .5s; transition: all .5s; }

.todo-wrap .todo-add.active .toggle:hover { -webkit-transform: rotate(45deg); transform: rotate(45deg); }

.todo-wrap .todo-add .toggle { position: absolute; width: 32px; height: 32px; left: 5%; top: 15%; }

.todo-wrap .todo-add .toggle::after, .todo-wrap .todo-add .toggle::before { display: block; position: absolute; left: 0; top: 50%; width: 100%; height: 2px; -webkit-transform: translateY(-50%); transform: translateY(-50%); background-color: #fff; content: ""; }

.todo-wrap .todo-add .toggle::before { width: 2px; height: 100%; left: 50%; top: 0; -webkit-transform: translateX(-50%); transform: translateX(-50%); }

.todo-wrap .add-util { position: relative; margin-top: 30px; padding-right: 140px; }

.todo-wrap .add-util input { width: 100%; height: 60px; padding: 0 20px; background-color: #fff; border-radius: 20px; text-align: left; font-size: 20px; color: #565656; font-weight: 300; }

.todo-wrap .add-util button { position: absolute; right: 0; top: 0; width: 130px; padding: 16px 0; color: #fff; font-size: 26px; line-height: 28px; font-weight: 700; background-color: #1889e8; border-radius: 20px; }
/*# sourceMappingURL=style.css.map */